<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="appEventName" value="ResturantApp"/>
	</appSettings>

	<connectionStrings>
		<add name="conncetionUrl" connectionString="Server =. ; Database = ResturantDB ; User Id = sa ; password = 771ali@..;"/>
		<add name="rgistaryAppUrl" connectionString="HKEY_LOCAL_MACHINE\SOFTWARE\ResturantApp"/>
	</connectionStrings>
</configuration>